<h1>My Events</h1>
<div id="myevents">
  <table>
    <!-- <tr *ngFor="let event of events">
          <th>Event Id</th>
          <td>{{event.eventDate}}</td> -->
    <tr>
      <th>Event Name</th>
      <th>Event Date</th>
      <th>Event Time</th>
      <th>Event Location</th>
    </tr>
    <tr *ngFor="let event of events">
      <td>{{ event.eventName }}</td>
      <td>{{ event.eventDate }}</td>
      <td>{{ event.eventTime }}</td>
      <td>{{ event.eventLocation }}</td>
      <div
        class="btn-toolbar"
        role="toolbar"
        aria-label="Toolbar with button groups"
      >
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-primary">Remove</button>
        </div>
        <div class="btn-group" role="group" aria-label="Third group">
          <button type="button" class="btn btn-light">Details</button>
        </div>
      </div>
    </tr>
  </table>
</div>
