#myevents {
  font-family: "Helvetica", Arial;
  border-collapse: collapse;
  width: 100%;
}

#myevents td,
#myevents th {
  border: 1px solid #ddd;
  padding: 8px;
}

#myevents tr:nth-child(even) {
  background-color: #f2f2f2;
}

#myevents tr:hover {
  background-color: rgba(224, 229, 238, 0.377);
}

#myevents th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(19, 168, 5);
  color: white;
}
