<div id="details" *ngIf="event">
    <h2>Details</h2>
    <table style="width: 100%">
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Start time</th>
          <th>End time</th>
          <th>Location</th>
          <th>Dish</th>
        </tr>
      <tr>
          <td>{{event.event_name}}</td>
          <td>{{event.event_date | date: 'MM/dd/yyyy'}}</td>
          <td>{{event.start_time }} </td>
          <td>{{event.end_time }}</td>
          <td>{{event.location}}</td>
          <td>{{event.dish}}</td>
      </tr>
    </table>
  
  </div>