<h2>My Events</h2>
<div id="events">
  <table >
      <tr>
        <!-- all this fields may need to be required -->
        <th>Event Name</th>
        <th>Event Date </th>
        <th>Event Start Time</th>
        <th>Event End Time</th>
        <th>Event Location</th>
      </tr>
      <tr *ngFor="let event of events" (click)="onSelect(event)">
        <td>{{event.eventName}}</td>
        <td>{{event.eventDate}}</td>
        <td>{{event.startTime.hours }} : {{event.startTime.minutes}}</td>
        <td>{{event.endTime.hours }} : {{event.endTime.minutes}}</td>
        <td>{{event.eventLocation}}</td>
      </tr>
  </table>
  <app-event-detail [event]="selectedEvent"></app-event-detail>
</div>

