<div id="user_table">
    <table style="width: 100%;">
        <tr>
            <th>Event Name</th>
            <th>Event Date </th>
            <th>Start Time</th>
            <th>End Location</th>
            <th>Location</th>
            <th>Dish</th>
        </tr>
        <tr *ngFor="let u of userEvent">
            <td>{{u.event_name}}</td>
            <td>{{u.event_date | date: 'MM/dd/yyyy'}}</td>
            <td>{{u.start_time}}</td>
            <td>{{u.end_time}}</td>
            <td>{{u.location}}</td>
            <td>{{u.dish}}</td>
        </tr>
    </table>
</div>