
#newContainer{
    border: solid gray;
    color: orange;
    padding-left: 1em;
    width: 90%;
}
input[type=text],[type=date], [type=time], select {
    width: 25em;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


