<div>
    <p>Create Your Next Event</p>
    <div id="newContainer">
            <!-- will probably put in list and loop  -->
        <h3>Name: {{new.event_name}}</h3>
        <input [(ngModel)]="new.event_name" type="text" placeholder="name" >

        <h3>Date: {{new.event_date}}</h3>
        <input [(ngModel)]="new.event_date" type="date" placeholder="date">

        <h3>Start time: {{new.start_time }}</h3>
        <input [(ngModel)]="new.start_time" type="time" >

        <h3>End time: {{new.end_time }}</h3>
        <input [(ngModel)]="new.end_time" type="time">
        
        <h3>Location: {{new.location}}</h3>
        <input [(ngModel)]="new.location" type="text" placeholder="location">

        <!-- <h3>Dish: {{new.dish}}</h3>
        <input [(ngModel)]="new.dish" type="text" placeholder="dish"><br><br> -->

         <button (click)="postEvent(new.event_name, new.event_date, new.start_time, new.end_time, new.location, new.dish); new=''"style="width: 20%; color: rgb(9, 62, 238); height: 3em; border-radius: 12px; margin-bottom: 3em; background-color: orange;"  [routerLink]="['/events']" >Lets' Go</button>
    </div>
</div>
